@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    /* color theme of the whole page */
    --color-theme-1: #3572ff;
    /* blue       */
    --color-theme-2: #ffce00;
    /* yellow     */
    --color-theme-3: #ff0000;
    /* red        */
    --color-theme-4: #00bba1;
    /* blue-green */
    --color-theme-5: #ff00cb;
    /* pink       */
    --color-theme-6: #9900c6;
    /* purple     */
    --color-theme-7: #1eb600;
    /* green      */
    --color-theme-8: #f45a00;
    /* orange     */
    --color-theme: var(--color-theme-1);
}

::selection {
    background: var(--color-theme);
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.max-width {
    max-width: 1500px;
    padding: 0 80px;
    margin: auto;
}

/* navbar styling */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.5s ease;
}

.navbar.sticky {
    padding: 15px 0;
    background: var(--color-theme);
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: var(--color-theme);
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
    color: #fff;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: var(--color-theme);
}

.navbar.sticky .menu li a:hover {
    color: #fff;
}

/* menu button styling */
.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: var(--color-theme);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

/* home section styling */
.home {
    display: flex;
    background: url("images/banner-dim.jpg") no-repeat center;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 2.5rem;
}

.home .home-content .text-2 {
    font-size: 6rem;
    font-weight: 600;
    margin-top: 20px;
}

.home .home-content .text-3 {
    font-size: 3rem;
    margin-top: 20px;
}

.home .home-content .text-3 span {
    color: var(--color-theme);
    font-weight: 800;
    font-family: monospace;
}

.home .home-content a {
    display: inline-block;
    background: var(--color-theme);
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--color-theme);
    transition: all 0.3s ease;
}

.home .home-content a:hover {
    color: var(--color-theme);
    background: #ccc;
    opacity: 0.85;
}

section {
    padding: 100px 0;
}

.about,
.education,
.skills,
.projs,
.contact,
footer {
    font-family: 'Poppins', sans-serif;
}

.about .about-content,
.education .educ-content,
.skills .skills-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 200px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: var(--color-theme);
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* about section styling */
.about .title::after {
    content: "";
}

.about .about-content .left {
    width: 40%;
}

.about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.about .about-content .right {
    width: 60%;
    background-color: #ddd;
    padding: 30px;
    border-radius: 20px;
}

.about .about-content .right .text {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span {
    color: var(--color-theme);
}

.about .about-content .right p {
    text-align: justify;
    font-size: 130%;
}

.about .about-content .right a.button {
    display: inline-block;
    background: var(--color-theme);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--color-theme);
    transition: all 0.3s ease;
}

.about .about-content .right a.factset {
    color: var(--color-theme);
    font-weight: 600;
}

.about .about-content .right a.uofm {
    color: var(--color-theme);
    font-weight: 600;
}

.about .about-content .right a.button:hover {
    color: var(--color-theme);
    background: none;
}

/* education section styling */
.education,
.projs {
    color: #fff;
    background: #111;
}

.education .title::before,
.projs .title::before {
    background: #fff;
}

.education .title::after,
.projs .title::after {
    background: #111;
    content: "";
}

.education .educ-content {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

.education .educ-content .coursework .courses {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-basis: content;
}

.education .educ-content .card {
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 10px 15px;
    transition: all 0.3s ease;
    margin: 3px;
    width: 31%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.education .educ-content .card:hover,
.education .educ-content .card:focus {
    background: var(--color-theme);
}

.education .educ-content .card .box {
    transition: all 0.3s ease;
    align-items: center;
}

.education .educ-content .card:hover .box,
.education .educ-content .card:focus .box {
    transform: scale(1.07);
}

.education .educ-content .card i {
    font-size: 30px;
    color: var(--color-theme);
    transition: color 0.3s ease;
}

.education .educ-content .card:hover i,
.education .educ-content .card:focus i {
    color: #fff;
}

.education .educ-content .degree {
    background-color: #222;
    padding: 15px;
    border-radius: 20px;
    margin: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    box-shadow: 0px 0px 80px var(--color-theme);
    transition: all 0.3s ease;
}

.education .educ-content .degree:hover,
.education .educ-content .degree:focus {
    box-shadow: -10px 10px 50px rgba(215, 215, 215, 0.25);
}

.education .educ-content .degree .left {
    width: 30%;
}

.education .educ-content .degree img {
    width: 100%;
    border-radius: 20%;
    border: 2px solid #ffcb05;
}

.education .educ-content .degree .right {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.education .educ-content .degree .right .text {
    font-size: 200%;
    font-weight: 500;
    margin-bottom: 7px;
}

.education .educ-content .degree .right .date {
    font-size: 120%;
    padding: 5px;
}

.education .educ-content .degree .right .gpa {
    font-size: 120%;
    padding: 5px;
}

.education .educ-content .degree .right .awards {
    font-size: 120%;
    padding: 5px;
}

.education .educ-content .coursework {
    margin-top: 40px;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.education .educ-content .coursework .label {
    font-size: 2rem;
    font-weight: 600;
    margin: 10px;
}

.education .educ-content .activities {
    margin-top: 40px;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.education .educ-content .activities .label {
    font-size: 2rem;
    font-weight: 600;
    margin: 10px;
}

.education .educ-content .activities .items {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 90%;
}

.education .educ-content .activities .items .item {
    font-size: 110%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    background-color: #222;
    border-radius: 6px;
    margin: 3px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.education .educ-content .activities .items .item img {
    width: 91px;
    border-radius: 20%;
    margin-right: 10px;
    align-self: flex-start;
}

.education .educ-content .activities .items .item .words {
    text-align: left;
    width: 80%;
    margin: 0 auto;
}

.education .educ-content .activities .items .item .words .desc {
    font-style: italic;
    transform: skewX(7deg);
    transition: all 0.1s ease;
}

.education .educ-content .activities .items .item:hover .words .desc,
.education .educ-content .activities .items .item:focus .words .desc {
    transform: skewX(-7deg);
    translate: 10px;
}


/* skills section styling */
.skills .title::after {
    content: "";
}

.skills .skills-content .left {
    width: 23%;
}

.skills .skills-content .right {
    width: 100%;
}

.skills .skills-content .left .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p {
    text-align: justify;
}

.skills .skills-content .left a {
    display: inline-block;
    background: var(--color-theme);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--color-theme);
    transition: all 0.3s ease;
}

.skills .skills-content .left a:hover,
.skills .skills-content .left a:focus {
    color: var(--color-theme);
    background: none;
}

.skills .skills-content .right {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 5px;
}

.skills .skills-content .right .icon {
    width: auto;
    height: 60px;
    text-align: center;
    transition: all 0.1s ease;
}

.skills .skills-content .card {
    display: inline-block;
    width: calc(25% - 20px);
    background: #ccc;
    text-align: center;
    border-radius: 6px;
    padding: 12px 12px;
    padding-bottom: 5px;
    transition: all 0.1s ease;
    max-width: 200px;
}

.skills .skills-content .card .box {
    transition: all 0.3s ease;
}

/* 
.skills .skills-content .card:hover .icon,
.skills .skills-content .card:focus .icon {
    transform: scale(1.7);
} */

.skills .skills-content .card .text {
    font-size: 25px;
    font-weight: 800;
    margin-top: 7px;
}

/* projects section styling */
.projs .max-width {
    max-width: 1700px;
}

.projs .title::after {
    content: "";
}

.projs .owl-stage {
    cursor: grab;
}

.projs .carousel .card {
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}

.projs .carousel .card:hover {
    background: var(--color-theme);
    cursor: grab;
}

.projs .carousel .card .box,
.projs .carousel .card .box a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    color: white;
}

.projs .carousel .card:hover .box {
    transform: scale(0.9);
}

.projs .carousel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.projs .carousel .card img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 20%;
    border: 5px solid var(--color-theme);
    transition: all 0.3s ease;
}

.projs .carousel .card:hover img {
    border-color: #fff;
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid var(--color-theme) !important;
    transition: all 0.3s ease;
}

.owl-dot.active {
    width: 35px;
    border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover {
    background: var(--color-theme) !important;
}

/* contact section styling */
.contact .title::after {
    content: "";
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 30px;
}

.contact .contact-content .row i {
    font-size: 25px;
    color: var(--color-theme);
}

.contact .contact-content .info .head {
    font-weight: 500;
}

.contact .contact-content .info .sub-title {
    color: #333;
}

.contact .contact-content .info .sub-title a {
    color: var(--color-theme);
}

.contact .contact-content .info .sub-title a:hover {
    text-decoration: underline;
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea {
    height: 100px;
    width: 100%;
}

.contact .right form .name {
    margin-right: 10px;
}

.contact .right form .email {
    margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 10px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button {
    height: 47px;
    width: 170px;
}

.contact .right form .button button {
    height: 100%;
    width: 100%;
    border: 2px solid var(--color-theme);
    background: var(--color-theme);
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact .right form .button button:hover {
    color: var(--color-theme);
    background: none;
}

/* footer section styling */
footer {
    background: #111;
    padding: 20px 23px;
    color: #fff;
    text-align: center;
}

footer span a {
    color: var(--color-theme);
    text-decoration: none;
    cursor: crosshair;
}

footer span a:hover {
    text-decoration: underline;
}


/* responsive media query start */
@media (max-width: 1300px) {
    .home .max-width {
        margin-left: 0px;
    }
}

@media (max-width: 1200px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 1180px) {
    .education .max-width {
        padding: 0 20px;
    }

    .projs .max-width {
        padding: 0 30px;
    }

    .skills .skills-content .card {
        width: 19%;
    }
}

@media (max-width: 1100px) {
    .home .home-content .text-1 {
        font-size: 2rem;
    }

    .home .home-content .text-2 {
        font-size: 70px;
    }

    .home .home-content .text-3 {
        font-size: 2.5rem;
    }

    .about .about-content .left img {
        height: 300px;
        width: 300px;
    }

    .about .about-content .right {
        font-size: smaller;
    }

    .about .about-content .right .text {
        font-size: 22px;
    }

    .skills .skills-content .card .text {
        font-size: 20px;
    }

    .skills .max-width {
        padding: 0 30px;
    }
}

@media (max-width: 1010px) {
    .education .educ-content .degree {
        width: 80%;
    }

    .education .educ-content {
        flex-direction: column;
        align-items: center;
    }

    .education .educ-content .coursework {
        width: 80%;
    }

    .education .educ-content .activities {
        width: 100%;
    }

    .education .educ-content .activities .items {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .education .educ-content .activities .items .item {
        width: 45%;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }

    .contact .contact-content {
        justify-content: center;
    }

    .contact .contact-content .left {
        width: 40%;
    }

    .contact .contact-content .right {
        width: 50%;
    }
}

@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before {
        content: "\f00d";
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 120px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .home-content .text-2 {
        font-size: 70px;
    }

    .home .home-content .text-3 {
        font-size: 35px;
    }

    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }

    .max-width {
        padding: 0 30px;
    }

    .about .about-content .column {
        width: 100%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .skills .skills-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 910px) {
    .education .educ-content .degree {
        width: 90%;
    }

    .education .educ-content .coursework {
        width: 90%;
    }

    .education .educ-content .card {
        width: 24%;
    }

    .education .educ-content .activities .items {
        flex-direction: column;
        align-items: center;
    }

    .education .educ-content .activities .items .item {
        width: 70%;
    }

    .projs .carousel .card {
        padding: 15px;
    }
}

@media (max-width: 775px) {
    section {
        padding: 50px 0;
    }

    .education .educ-content .degree {
        width: 95%;
    }

    .education .educ-content .degree .right {
        font-size: smaller;
    }

    .education .educ-content .coursework {
        width: 100%;
    }

    .skills .skills-content .right img.icon {
        height: 45px;
    }

    .skills .skills-content .card .text {
        font-size: 17px;
    }

    .projs .carousel .card {
        font-size: smaller;
    }

    .projs .carousel .card img {
        height: 110px;
        width: 110px;
    }
}

@media (max-width: 697px) {
    .max-width {
        padding: 0 20px;
    }

    .home .home-content .text-2 {
        font-size: 60px;
    }

    .home .home-content .text-3 {
        font-size: 32px;
    }

    .home .home-content a {
        font-size: 20px;
    }

    .education .educ-content .card {
        font-size: smaller;
        width: 23%;
    }

    .skills .skills-content .card .text {
        font-size: 15px;
    }

    .contact .contact-content .column {
        width: 100%;
    }
}

@media (max-width: 623px) {
    .education .educ-content .degree {
        width: 100%;
        font-size: smaller;
    }

    .education .educ-content .activities .items .item {
        font-size: smaller;
    }

    .education .educ-content .activities .items .item img {
        width: 70px;
    }

    .skills .skills-content {
        flex-direction: row;
        align-items: center;
    }

    .skills .skills-content .card {
        width: 31%;
        padding: 10px;
    }

    .skills .skills-content .card .text {
        margin: 0;
    }

    .skills .skills-content .card .box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
}

@media (max-width: 570px) {
    .max-width {
        padding: 0 12px;
    }

    .home .home-content .text-2 {
        font-size: 50px;
    }

    .home .home-content .text-3 {
        font-size: 27px;
    }

    .about .about-content .right {
        font-size: smaller;
    }

    .about .about-content .right .text {
        font-size: 20px;
    }

    .skills .skills-content .right img.icon {
        height: 35px;
    }

    .projs .carousel .card .text {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .about .about-content .left img {
        height: 250px;
        width: 250px;
    }

    .about .about-content .right {
        text-align: center;
        font-size: smaller;
    }

    .about .about-content .right p {
        text-align: left;
    }

    .education .educ-content .card {
        width: 31%;
    }

    .skills .skills-content .card {
        width: 49%;
    }
}

@media (max-width: 380px) {
    .education .educ-content .card {
        width: 40%;
    }

    .projs .carousel .card img {
        height: 160px;
        width: 160px;
    }
}